<div class="text-right"><button mat-raised-button color="primary" (click)="openModal()">add new</button></div>
<div class="table-responsive">
    <table class="table">
        <thead class=" text-primary">
            <th>
                ID
            </th>
            <th>
                Name
            </th>
        <th>edit</th>
        <th>delete</th>
            
        </thead>
        <tbody>
            <tr *ngFor="let item of listrole">
                <td>
                    {{item.id}}
                </td>
                <td>
                    {{item.role}}
                </td>
                    <td> 
                <button mat-fab color="green" aria-label="Example icon button with a bookmark icon" (click)="openModalEdit(item)">
                    <mat-icon>edit</mat-icon>
                  </button>
        </td>
        <td><button mat-fab color="accent" aria-label="Example icon button with a delete icon" (click)="removeRole(item.id)" >
                  <mat-icon>delete</mat-icon>
                </button></td>
            </tr>
            
        </tbody>
    </table>
</div>