<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
 
  <mat-form-field appearance="fill">
    <mat-label>Service</mat-label>
    <input matInput [(ngModel)]="data.service.name">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Direction</mat-label>
    <mat-select [(ngModel)]="data.service.direction" >
     <mat-option *ngIf="data.title ==='edit service'" [value]="data.service.direction">{{data.service.direction.name}}</mat-option>
     <ng-container *ngIf="data.title !=='edit service'">
      <mat-option  *ngFor="let d of data.direction" [value]="d">
        {{d.name}}
      </mat-option>
    </ng-container>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="data.service" cdkFocusInitial>Ok</button>
</div>

