
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Settings</h4>
                        <p class="card-category"> Here is a settings for this app</p>
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                              <a class="nav-link" routerLink="role" >Role</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" routerLink="direction">Direction</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" routerLink="service" >Service</a>
                            </li>
                        
                          </ul>
                    
                    </div>
                   
                    <div class="card-body">
                      <router-outlet></router-outlet>
                           
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
 
  